.soch-warrior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 111, 0);
    border-radius: 20px;
    padding: 40px 60px;
    max-width: 1200px;
    margin: auto;
  }
  
  .warrior-content {
    color: white;
    max-width: 50%;
  }
  
  .warrior-content h2 {
    font-size: 32px;
    font-weight: 700;
  }
  
  .warrior-content p {
    font-size: 16px;
    margin: 15px 0;
    line-height: 1.5;
  }
  
  .register-btn {
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .register-btn:hover {
    background: white;
    color: rgb(255, 89, 0);
  }
  
  .warrior-image img {
    width: 100%;
    max-width: 250px;
  }
  