.soch-warrior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ff8c00;
    border-radius: 20px;
    padding: 40px 60px;
    max-width: 1330px;
    margin: auto;
    margin-top: 50px;
  }
  
  .warrior-content {
    color: white;
  }
  
  .warrior-content h2 {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
  }
  
  .warrior-content p {
    font-family: Work Sans;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .register-btn {
    border: 2px solid white;
    font-family: Work Sans;
    background: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    margin-top: 20px;
    width: 250px;
    height: 50px;
  }
  
  .register-btn:hover {
    background: white;
    color: #ff8c00;
  }
  
  .warrior-image img {
    /* position: fixed; */
    height: 200px;
    /* size: contain;
    position: right;
    height: 650px; */
  }
  